@tailwind base;
@tailwind components;
@tailwind utilities;

.triangle-container {
  position: relative;
  display: inline-block;
}

.triangle {
  position: absolute;
  /* bottom: -10px; */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #1e4d91;  /* Updated to your color */
}